@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 86,86,86; /* White foreground */
  --background-start-rgb: 177,183,183; /* #fafafa */
  --background-end-rgb: 86,86,86 ; /* #09090b */
}

body {
  background: radial-gradient(
    circle,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  color: rgb(var(--foreground-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
